





<div class="container">
<nav class="navbar navbar-dark bg-primary">
    <a routerLink="/" routerLinkActive="active">Home</a>

    <a routerLink="cart" routerLinkActive="active">
          <button type="button" class="btn btn-primary">
            Cart<span class="badge badge-light">9</span>
          </button>
    </a>
    <a routerLink="order" routerLinkActive="active">Orders</a>
    <a routerLink="login" routerLinkActive="active">Login</a>
    <a routerLink="reg" routerLinkActive="active">Reg</a>

    <a routerLink="account" routerLinkActive="active">
       <img src="/assets/myimage/persone-fill.svg" alt="" width="32" height="32" title="Bootstrap">
       {{info.username}}</a>
    <a routerLink="" routerLinkActive="active"><button class="btn btn-secondary" (click)="logout()">Logout</button></a>
  </nav>
  </div>
<div *ngIf="isAuthenticated()">
    Привет мир
</div>
<router-outlet></router-outlet>







<!--<div class="container">-->
<!--<nav class="navbar navbar-dark bg-primary">-->
<!--<a routerLink="/" routerLinkActive="active"> Home</a>-->
<!--<a routerLink="login" routerLinkActive="active"> Login</a>-->
<!--<a routerLink="reg" routerLinkActive="active" >Reg</a>-->
<!--<a routerLink="findall-pizza" routerLinkActive="active">All Pizza</a>-->
<!--<a routerLink="account" routerLinkActive="active">-->
<!--<img src="/assets/myimage/persone-fill.svg" alt="" width="32" height="32" title="Bootstrap">-->
<!--{{info.username}}</a>-->
<!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;<li><a routerLink="signup" >Регистрация</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a routerLink="login" >Вход</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a (click)="logout()" style="cursor: pointer">Выход</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->

<!--&lt;!&ndash;<a routerLink="" routerLinkActive="active"><button class="btn btn-secondary" (click)="logout()">Logout</button></a>&ndash;&gt;-->
<!--</nav>-->
<!--</div>-->






<!--&lt;!&ndash;тут мы делаем так, если nfo.token=true, то мы выводим инфу, если false, то выводим #loggedOut&ndash;&gt;-->
<!--<div *ngIf="info.token; else loggedOut">-->
<!--<h5 class="text-primary">Your Information</h5>-->
<!--<p>-->
<!--<strong>Username:</strong> {{info.username}}<br/>-->
<!--<strong>Roles:</strong> {{info.authorities}}<br />-->
<!--<strong>Token:</strong> {{info.token}}.-->
<!--</p>   &lt;!&ndash;метод удлаения(clean) сессии&ndash;&gt;-->
<!--<button class="btn btn-secondary" (click)="logout()">Logout</button>-->
<!--</div>-->
<!--<ng-template #loggedOut>-->
<!--Please login.-->
<!--</ng-template>-->



